/* HElPER */
.opacity {
    opacity: 0.5;
}

.blue-helper {
    background-color: rgba(0, 0, 255, 0.5);
}

.green-helper {
    background-color: rgba(0, 255, 0, 0.5)
}
main {
    padding: 75px;
    background-image: url("../img/bg-web-fix.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F9F5F5;
}

.bg-white-transparant {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20;
}

.size-kid {
    width: 350px;
    height: 350px;
    margin: auto;
}

@media (max-width: 425px) {
    .size-kid {
        width: 200px;
        height: 200px;
        margin: auto;
    }
}

.btn-next{
    text-decoration: none;
    margin: 0 auto; 
}

.btn-next h3 {
    background-color: #C64B0B;
    transition: 0.7s ease 0s;
}

.btn-next button{
    border-radius: 4px;
    font-weight: 900;
    font-size: 15px;
    color: #f5f5f5;
    border: none;
    background-color: #C64B0B;
    transition: 0.7s ease 0s;
    padding: 8px;
    margin: 14px auto;
}

.hitung-content {
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    width: 100%;
    overflow-y:scroll;
    height: 70%;
}

#welcome {
    display: block;
}
#home {
    display: none;
}
.btn-group-vertical a {
    padding: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.73);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.btn-group-vertical a:hover {
    background-color: white;
}
.btn-group-vertical a img {
    width: 75px;
    height: 75px;
}

.form-group label {
    padding-bottom: 50px;
    font-family: "Bahnschrift";
    font-size: 25px;
    line-height: 30px;
    color: #C64B0B;
}
.form-group select {
    border: 2px solid #C64B0B;
}
#satuanF {
    display: none;
}
.form-group input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #C64B0B;
    background-color: rgba(255, 255, 255, 0.0);
}
.form-group input:focus {
    border-color: #C64B0B;
    background-color: rgba(255, 255, 255, 0.0);
}
.actions {
    text-align: center;
}
.actions h3 {
    color: #C64B0B;
}
.actions button {
    border-radius: 4px;
    font-size: 15px;
    color: #f5f5f5;
    border: none;
    background-color: #C64B0B;
    transition: 0.7s ease 0s;
    padding: 8px;
    margin: 14px auto;
}
#segitigaDD:hover .dropdown-menu {
    display: block;
}
#persegiDD:hover .dropdown-menu {
    display: block;
}
#persegipDD:hover .dropdown-menu {
    display: block;
}
#lingkaranDD:hover .dropdown-menu {
    display: block;
}
#trapesiumDD:hover .dropdown-menu {
    display: block;
}
#layangDD:hover .dropdown-menu {
    display: block;
}
#jajarDD:hover .dropdown-menu {
    display: block;
}
#belahDD:hover .dropdown-menu {
    display: block;
}

#lSegitigaF {
    display: none;
}
#kSegitigaF {
    display: none;
}

#lPersegiF {
    display: none;
}
#kPersegiF {
    display: none;
}

#lPersegiPF {
    display: none;
}
#kPersegiPF {
    display: none;
}

#lLingkaranF {
    display: none;
}
#kLingkaranF {
    display: none;
}

#lTrapesiumF {
    display: none;
}
#kTrapesiumF {
    display: none;
}

#lLayangF {
    display: none;
}
#kLayangF {
    display: none;
}

#lJajarGF {
    display: none;
}
#kJajarGF {
    display: none;
}

#lBelahKF {
    display: none;
}
#kBelahKF {
    display: none;
}

#answer {
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.btn-group-vertical .dropdown-menu:hover ~ .btn-group-vertical {
    
    background-color: white;
}
.dropright-content {
    display: block;
    float: right;
    padding: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.73);
    width: auto;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropright-content a {
    font-family: Bahnschrift;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    color: #D42A2A;
    text-decoration: none;
}
.hr.solid {
    border-top: 3px solid #bbb;
}
.dropright-content a:hover {
    background-color: white;
}

/* FOOTER */

.bottom {
    position: relative;
    bottom: 0;
}

@media (min-width: 1440px) {
    .bottom {
        position: absolute;
        bottom: 0;
    }
}

ul {
    list-style-type: none;
}

.font-poppins-white {
    font-family: 'Poppins', arial, sans-serif;
    font-weight: 400;
    color: #F9F5F5;
}

.font-poppins-orange {
    font-family: 'Poppins', arial, sans-serif;
    font-weight: 400;
    color: #C64B0B;
}

footer {
    background: #C64B0B;
}

.bold {
    font-weight: 700;
}

.size-px {
    font-size: 12px;
}

.bg-orange-darker {
    background: rgb(148, 53, 2);
}

.footer-header {
    font-size : 16px;
}

.footer-text {
    font-size: 12px
}

.footer-icon {
    margin-right: 6px;
    height: 24px;
    width: 24px;
    transition: 0.7s ease 0s;
}

.footer-icon:hover {
    opacity: 0.75;
}

